SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=shule.ac.tz,www.shule.ac.tz,161.97.68.240

DB_NAME=shule_db
DB_USER=shule_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=

FRONTEND_URL=https://shule.ac.tz
CORS_ALLOWED_ORIGINS=https://shule.ac.tz,https://www.shule.ac.tz
CSRF_TRUSTED_ORIGINS=https://shule.ac.tz,https://www.shule.ac.tz

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@shule.ac.tz
DEMO_REQUEST_NOTIFY_EMAIL=
